/* Контейнер с кнопками */
.btn-group {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Позволяет кнопкам переходить на новую строку при нехватке места */
}

/* Кнопки */
.btn {
  white-space: nowrap; /* Запрещает разрыв текста внутри кнопки */
  max-width: 200px; /* Ограничиваем ширину кнопок */
  flex: none;
}

/* Мобильная адаптация */
@media (max-width: 600px) {
  .btn-group {
    justify-content: center; /* Центрируем кнопки на экранах меньшего размера */
  }

  .btn {
    width: 100%; /* Кнопки будут растягиваться на всю ширину */
    max-width: 100%; /* Убираем максимальную ширину */
  }
}
