.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3d5a80;
  padding: 15px 20px;
}
.list-group-item:last-child {
  border-bottom: none;
}

.name {
  line-height: 35px;
  font-size: 20px;
  cursor: pointer;
  flex: 1 1;
}

.salary {
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  border: 0;
  margin-right: 125px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.cookie {
  color: #e09f3e;
}

.trash {
  color: #e5383b;
}

.fa-star {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #ffd700;
  transition: 0.3s all;
  transform: translateX(30px);
  opacity: 0;
}

.list-group-item.increase .name,
.list-group-item.increase .salary {
  color: #e09f3e;
}
.list-group-item.like .fa-star {
  opacity: 1;
  transform: translateX(0px);
}

@media (max-width: 750px) {
  .salary {
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
  .salary {
    margin-right: 25px;
  }
}

@media (max-width: 350px) {
  .salary {
    margin-right: 15px;
  }
}
